ui_font     VictorMono Nerd Font

background_color            0.118 0.118 0.180
dark_mode_background_color  0.118 0.118 0.180

text_highlight_color       0.976 0.886 0.686
visual_mark_color          0.498 0.517 0.611 0.1

search_highlight_color     0.976 0.886 0.686
link_highlight_color       0.537 0.706 0.980
synctex_highlight_color    0.651 0.890 0.631

highlight_color_a          0.976 0.886 0.686
highlight_color_b          0.651 0.890 0.631
highlight_color_c          0.537 0.863 0.922
highlight_color_d          0.922 0.627 0.675
highlight_color_e          0.796 0.651 0.969
highlight_color_f          0.953 0.545 0.659
highlight_color_g          0.976 0.886 0.686

custom_background_color         0.118 0.118 0.180
custom_text_color               0.804 0.839 0.957

ui_text_color                   0.804 0.839 0.957
ui_background_color             0.118 0.118 0.180
ui_selected_text_color          0.804 0.839 0.957
ui_selected_background_color    0.345 0.357 0.439

startup_commands    toggle_custom_color;toggle_statusbar
